* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

p {
    font-weight: 900;
    padding-bottom: 1rem;
    color: white;
}

.container {
    width: 1100px;
    text-align: center;
    margin: 0 auto;
}

.header {
    font-size: 50px;
    margin: 3rem 0;
    color: #50a3a2;
    text-decoration: overline;
}

.composition {
    display: flex;
    justify-content: center;
    
    filter: drop-shadow(0 0 0.2rem #ffffff );
}

.item {
    background-color: #50a3a2;
    border-radius: 5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}



form input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
  }
  
  form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #50a3a2;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }

  table {
      color: white;
      width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }